<section class="slider">
    {% for block in section.blocks %}
        <div class="slider__unit">
            <img src="{{block.settings.product_select | img_url: 'master'}}" alt="{{block.settings.product_select.alt}}">
            <h3 class="unit__text">
                {{ block.settings.product_select.title | default: "Prod title"}}
            </h3>
            <p>
                {{block.settings.product_select.content}}
            </p>
            <p class="unit__price">
                {{ block.settings.product_select.price  | money_with_currency}}
            </p>
            <button type="submit" name="add" disabled class="btn product-form__cart-submit" data-add-to-cart>
                <span data-add-to-cart-text>
                    {{ 'products.product.sold_out' | t }}
                </span>
            </button>
        </div>
    {% endfor %}
</section>

<script type="text/javascript">
    window.onload = () => {
    $(document).ready(function(){
        $('.slider').slick({
        dots: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        arrows: false,
        infinite: false
        })
    })
    }
</script>

<style>
    .slider{
        max-width: 1400px;
        width: 100%;
        padding: 100px 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }
    .slider__unit{
        margin: 0 auto;
        max-width: 300px;
        width: 100%;
        display: flex;
    }
    .unit__text{
        text-align: center;
    }
</style>

{% schema %}
{
    "name": "Slide",
    "tag": "section",
    "max_blocks": 5,
    "blocks": [
        {
            "name": "Slide_unit",
            "type": "slide",
            "settings": [
                {
                    "type": "product",
                    "label": "Product",
                    "id": "product_select"
                }

            ]
        }
    ],
    "presets": [
        {
            "name":"Product slider"
        }
    ]

}
{% endschema %}